  <p>
    <%= comment.body %>
  </p>
  <p>
    <span class="radius label"><%= comment.commenter %></span>
    <%= comment.created_at.to_formatted_s(:long) %>
  </p>
  <p>
    <%= link_to 'Delete', [comment.post, comment],
                :confirm => 'Are you sure?',
                :method => :delete,
                :class => "button tiny radius alert" %>
  </p>
  <hr>